[2019-10-22 21:54] yaoyic opened #2 "Maybe some typos in the code"
Hi Peter,

during my compiling the code on the 3rd commit, I found something preventing the `make` process:
For file `platforms/reference/src/ReferenceNeuralNetworkKernels.cpp`:
[code]
After comparing to the counter part in the TF plugin, I guess here it should be changed into:
[code]
---
And during `make PythonInstall`, this popped up:
[code]
so I guess this part in file `openmm-torch/python/CMak

[2019-10-22 22:05] peastman commented on #2
Thanks!  There was indeed some obsolete code left in the Python build and setup scripts.  I just removed it.

This plugin currently requires you to have the most recent OpenMM code from github.  It doesn't work with 7.4.  That's why you're getting the compilation errors.  I'll see about making it work with older versions.  However, the CUDA platform does require one change to OpenMM in order to wo

[2019-10-22 22:07] yaoyic opened #4 "Problem with the CUDA platform"
Hi Peter,

I met with some issues when running this plugin with the `CUDA` simulation platform of OpenMM.

The test script looks like this:
[code]
The `central.pt` file comes from `tests/central.pt`.

When running with `CPU` platform, the correct answer was returned; while on the `CUDA` platform, it ended up with this traceback:
[code]

The testing machine comes with an RTX 2060 super, driver vers

[2019-10-22 22:12] peastman commented on #4
See #2.  You need to use the latest OpenMM code from github.

[2019-10-22 22:16] yaoyic commented on #2
Thanks for the quick response! I will try it out.

[2019-10-24 09:34] yaoyic commented on #2
Yes, now it works out smoothly. Thanks!

[2019-10-24 09:34] #2 closed

[2019-10-24 09:35] yaoyic commented on #4
It is functional with the latest OpenMM code from github. Many thanks!

[2019-10-24 09:35] #4 closed

[2019-11-16 17:45] jchodera opened #5 "Move to openmm org?"
Would it make sense to move this repo and the TensorFlow-based repo to the http://github.com/openmm org?

[2020-01-08 10:31] giadefa commented on #5
Is this already available in the main repo? We are going to use it now.

[2020-01-09 17:31] peastman commented on #5
What do you mean by the main repo?

[2020-01-09 17:38] giadefa commented on #5
currently it´s in your personal github. I mean is it officially supported
by openmm? If one get the released version for instance, is it there?

g

On Thu, Jan 9, 2020 at 6:31 PM peastman <notifications@github.com> wrote:

[2020-01-09 19:22] jchodera commented on #5
@giadefa : I think this is currently an "experimental" plugin that must be compiled manually. There are no releases yet. Once things are stable, presumably we can cut a pre-release and see if we can get the `omnia` build framework to build a conda-installable package that would depend on the [`pytorch` channel package](https://anaconda.org/pytorch/pytorch).

[2020-01-09 19:25] peastman commented on #5
I'll be transferring it to the openmm organization soon, once I do a bit of cleanup.  You should view this as alpha code.  I don't guarantee everything will work, but I'll do my best to fix any problems you find.  We'll do an official release once it's a bit more mature.

[2020-01-09 19:27] peastman commented on #5
Also note that the PyTorch conda package doesn't include the C++ API.  This plugin depends on LibTorch, which currently is only available as a manual download.

[2020-01-09 19:28] giadefa commented on #5
ok

On Thu, Jan 9, 2020 at 8:25 PM peastman <notifications@github.com> wrote:

[2020-01-10 19:18] peastman commented on #5
Done.

[2020-01-10 19:18] #5 closed

[2020-02-07 17:03] jchodera opened #10 "ANI-2x is out"
@peastman : ANI-2x is out, and it includes seven elements (H, C, N, O, F, Cl, S):
https://chemrxiv.org/articles/Extending_the_Applicability_of_the_ANI_Deep_Learning_Molecular_Potential_to_Sulfur_and_Halogens/11819268

[2020-02-09 14:28] jchodera commented on #10
I've learned from Adrian Roitberg that ANI-2x will only be made available in https://github.com/aiqm/torchani once the paper is published. No idea how long that will take.

[2020-04-09 06:04] justin-iBC opened #11 "Make Install Errors"
Hi, I followed the instructions in README, generated a Makefile but failed during make install.
I am running on Ubuntu. The error messages was as follows,

[ 35%] Building CXX object platforms/reference/CMakeFiles/OpenMMTorchReference.dir/src/ReferenceTorchKernelFactory.cpp.o
[ 39%] Building CXX object platforms/reference/CMakeFiles/OpenMMTorchReference.dir/src/ReferenceTorchKernels.cpp.o
~/openmm

[2020-04-09 16:57] peastman commented on #11
You'll need to compile against the latest OpenMM source code from the repository.  The signature of that field has changed since the last release.

[2020-05-07 08:06] Olllom opened #12 "Positions from Torch GPU Tensors"
Hi @peastman,

We were thinking about ways to assign context positions directly from torch GPU tensors in order to speed up batch processing of force and energy calculations for small systems. The kernels in this plugin, like `copyInputs`, seem to already provide a blueprint and at first sight it looks pretty straightforward to expose something like `setContextPositionsFromTensor(Context& context,

[2020-05-07 15:52] peastman commented on #12
You have to be a bit careful about assigning positions.  Take a look at https://github.com/openmm/openmm/blob/master/platforms/cuda/src/CudaKernels.cpp#L206-L255, which gets executed when you call `setPositions()` on a Context.  There's a lot more happening there than just copying over one array, and you could easily put things into an inconsistent state that leads to wrong results.

[2020-07-23 17:35] raimis opened #13 "Multiple simulations on the same GPU are interfering with each other!"
If two or more simulations are running on the same GPU and using `TorchForce`, they produce incorrect results. Other GPU processes (i.e. VMD) also affect `TorchForce`, but the effects are less deterministic. Typically this manifests as random "explosions" of the system.

Versions:
- OpenMM-Torch is built from `master` using #9.
- PyTorch 1.4.0 is from https://anaconda.org/anaconda/pytorch

The pro

[2020-07-23 22:20] peastman commented on #13
I'm having trouble running your script, because I can't import both `torch` and `openmmtorch` in the same script.  We need a build of libtorch that uses the C++11 ABI.  They provide those for the standalone C++ library, but all the builds that also include Python use the older ABI.  Did you compile PyTorch from source?  Or maybe you're using Windows, which doesn't have this issue?

[2020-07-24 10:27] raimis commented on #13
I use PyTorch from the main Anaconda channel:
[code]
As mentioned in https://github.com/openmm/openmm-torch/pull/9#issuecomment-575089088, `libtorch` comes with `pytorch` just at a non-standard location.

[2020-07-24 15:42] peastman commented on #13
Right, but it's compiled with the pre-C++11 ABI.  When you download LibTorch from https://pytorch.org/get-started/locally/ they give you a choice of two packages, one with each ABI.  But for conda packages they only provide the old ABI.

[2020-07-24 16:19] raimis commented on #13
`pytorch` from the main Anaconda channel is built with C++11 ABI. I'm using the conda compilers and no problem with the ABI.

[2020-07-24 18:14] peastman commented on #13
Good to know.  I'll try that version.  Thanks!

[2020-07-28 09:46] raimis commented on #13
@peastman Have you managed to reproduce the issue? Any ideas how to fix?

[2020-07-29 17:37] raimis commented on #13
I have tried different versions of dependencies/compilers:
- PyTorch 1.4.0 and 1.6.0
- CUDA 10.0 and 10.2
- GCC 7.5 and 9.2
- CentOS 7 and Ubuntu 18.04
The problem persists!

@peastman we would appreciate if you could help solve this. It is important and blocking our progress.

[2020-07-29 18:50] peastman commented on #13
I'm still struggling to get it to compile.  I switched to the conda build of PyTorch, but when I try to compile the plugin it gets pages of link errors like

[code]

[2020-07-30 09:16] raimis commented on #13
I haven't seen such errors. My first guess: you are missing MKL.

[2020-07-30 13:15] raimis commented on #13
I have tried to run one MD step under `cuda-memcheck`:
[code]
I guess, most of them are false positives, but these are a bit suspicious:
[code]

[2020-07-30 17:23] peastman commented on #13
[code]

It's there, but perhaps I need to do something extra to add it to the library path.  This is a difference between the standard and conda builds.  When I look at the version of libtorch downloaded from the PyTorch website it doesn't have that dependency:

[code]

But the conda build does:

[code]

[2020-07-30 20:02] peastman commented on #13
I finally managed to get it to compile.  Now I get this error when I try to run the script:

None of these problems happen when using the official PyTorch builds.  I've already spent hours on this with no clear end in sight.  I'm going to switch back to the official build, then rework your script to split out creating the `.pt` file from running the simulation.

[2020-07-30 21:42] peastman commented on #13
I can reproduce the results you're seeing, but it doesn't seem to have anything to do with multiple simulations.  It just depends on the platform.  With OpenCL or CPU I get excellent energy conservation:

[code]

With CUDA the energy conservation is worse:

[code]

Furthermore, with CUDA the numbers vary from one run to the next, which shouldn't be the case.  I'll keep investigating.

[2020-07-31 12:11] raimis commented on #13
Thanks for your effort, @peastman! Just keep in mind, the problem is caused not only by the second simulation, but also by other processes on GPU (i.e. VMD, Chrome, etc).

[2020-07-31 14:29] raimis opened #14 "Conda package"
Currently there is no a conda package of  _OpenMM-Torch_, but it would we very useful to simplify deployment.

Problems/progress to make a _conda-forge_-compatible package:
- [ ] Compatible _OpenMM_ package
   - The _Omnia_ package (https://anaconda.org/omnia/openmm) is not _conda-forge_-compatible
     - It is build with pre-C++11 ABI
   - _OpenMM_ >= 7.5 is required due to API changes (#11)
   -

[2020-07-31 14:57] raimis commented on #14
Ping who might be interested: @peastman @jchodera @jaimergp @stefdoerr @giadefa

[2020-07-31 15:17] peastman commented on #14
That's a good summary, thanks.

Some posters at https://github.com/pytorch/pytorch/issues/17492 claim the latest package on the `pytorch` channel has moved to the C++11 ABI.  I'll investigate and see if that's true.

[2020-07-31 19:54] peastman commented on #13
The error seems to be happening when we copy the forces over from PyTorch's buffers to OpenMM's buffers.  Usually it works correctly, but once in a while the forces come out as zero.  This seems like a race condition, but scattering calls to `cuCtxSynchronize()` through the code doesn't fix it.  I might just switch to downloading the forces to host and sending them back again, the same way the oth

[2020-07-31 21:59] peastman commented on #13
After changing that, the trajectory is identical to the one from OpenCL:

[code]

It's slower than before, but that's probably mostly because it's a trivial model.  For a real system the overhead would be much less significant.

[2020-07-31 23:02] peastman commented on #13
The fix is in #15.  Could you try it out and see if it now works for you?

[2020-08-03 12:38] raimis commented on #13
Regarding #15, I think, the problem is not the race condition, but the multiple-context problem:
- `torch::jit::load` creates another CUDA context (https://github.com/pytorch/pytorch/issues/31565)
- Device pointers from different context cannot be mixed (https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#context), but this happens when we try to pass the coordinates and return the fo

[2020-08-05 16:18] raimis commented on #13
In addition to the previous comments:
- Actually `torch::jit::load` does not create another CUDA context, but uses the special primary context (https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__PRIMARY__CTX.html#group__CUDA__PRIMARY__CTX)
- The primary context is unique per device rather than process. This means the separate processes running Torch on the same GPU are sharing context.
- In

[2020-08-06 15:13] #13 closed

[2020-08-07 10:54] raimis commented on #14
Nope, PyTorch 1.6.0 in PyTorch channel (https://anaconda.org/pytorch/pytorch) is build with the old C++ ABI.

[2020-08-08 03:31] jchodera commented on #14
Also good news https://github.com/conda-forge/pytorch-cpu-feedstock/issues/7#issuecomment-562220076

[2020-09-02 17:32] hadim commented on #14
FYI `torchani` is available on conda-forge: https://github.com/conda-forge/torchani-feedstock

[2020-09-26 21:11] otayfuroglu commented on #11
Hello every one,
I compiled openMM from source and I followed the instructions in README for compile  and install openmm-torch, but failed during make install.

my system : centos 7
libtorch version: 1.7.0.dev20200924+cu92
gcc version: 9.2
gxx version: c++14

The error messages was as follows,

Scanning dependencies of target CopyTestFiles

[2020-09-28 08:15] raimis commented on #11
All undefined symbols contain `std::string`, which mean OpenMM was compiled for the old C++ ABI (https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html), while OpenMM-Torch was compiled for the new C++11 ABI.

[2020-09-29 16:35] otayfuroglu commented on #11
Hello @raimis, thank you very much.
As far as I know, openmm-torch cannot compile c++11, it requires c++14.
How do I compile openmm with c++14 ?.
Thereby, openmm-torch and openmm will compiled same ABI standard.

best

[2020-09-29 21:40] peastman commented on #11
The name is confusing, but this is actually separate from the choice of C++ version.  They called it the "C++11 ABI" because they needed it to support a new feature introduced in C++11.  But that doesn't mean there's a different ABI for each C++ version.  C++14 uses exactly the same ABI.

[2021-01-15 15:34] jaimergp commented on #14
This can get closed after https://github.com/conda-forge/staged-recipes/pull/13659 is merged 😎

You can try the [artifacts](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=262764&view=artifacts&pathAsName=false&type=publishedArtifacts) if you want, but the tests pass so far :)

[2021-01-15 15:37] jaimergp opened #20 "Version scheme"
Can we tag `master` with `v0.1`  or whatever version scheme you prefer and create a GH release? That way I can use it for the [imminent conda package](https://github.com/conda-forge/staged-recipes/pull/13659) :D

[2021-01-15 18:18] peastman commented on #20
Done!  https://github.com/openmm/openmm-torch/releases/tag/v0.1

[2021-01-15 18:18] #20 closed

[2021-01-15 20:28] jaimergp commented on #20
Thanks!

[2021-01-18 16:29] jaimergp commented on #14
`openmm-torch` is now on Conda Forge:

* https://github.com/conda-forge/openmm-torch-feedstock
* https://anaconda.org/conda-forge/openmm-torch

[2021-01-18 17:06] raimis commented on #14
Thanks @jaimergp!

[2021-01-18 17:07] raimis commented on #14
Probably, we should update `README.md`, so everybody is aware.

[2021-01-18 17:22] jaimergp commented on #14
Oh, right! Added PR!

[2021-01-18 19:37] #14 closed

[2021-01-18 19:55] jchodera commented on #14
Woohoo!

@peastman : Once the README is fixed, is it OK if we tweet about this?

[2021-01-18 21:25] peastman commented on #14
Fine with me.

[2021-01-19 07:22] jchodera commented on #14
I'll tweet after https://github.com/openmm/openmm-torch/pull/21 is merged.

[2021-01-19 17:38] jchodera opened #22 "Set up continuous integration"
@jaimergp : Any ideas on how we might be able to set up CI here now that we are able to install `openmm` an `pytorch` from conda-forge?

In principle, we should at least be able to test the Reference and OpenCL platforms, and we may even be able to test the CUDA platform if we wanted to wire in @swails Jenkins until GPU CI becomes available.

[2021-01-19 18:34] jaimergp commented on #22
Setup would be similar to OpenMM's. I'll get to it once the backlog clears up a bit!

[2021-01-19 18:35] jaimergp commented on #22
And the same applies to openmm-plumed!

[2021-01-20 01:15] jchodera opened #24 "Naming: Should this be openmm-torch or openmm-pytorch?"
@peastman @giadefa @jaimergp : Now that Torch has become pytorch, what do you think about renaming this to `openmm-pytorch` to be more familiar to everyone using pytorch?

[2021-01-20 07:21] giadefa commented on #24
I don't mind. The actual python module name of pytorch is torch.

On Wed, 20 Jan 2021, 02:15 John Chodera, <notifications@github.com> wrote:

[2021-01-20 08:46] jaimergp commented on #24
Now that we have put a package on conda-forge, named `openmm-torch`, chainging the name could lead to some (mild) confusion. PyTorch is only the "brand" as far as I know; internals, as Gianni points out, still use `torch`. `.so` libraries are also named [`libtorch*`](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=261195&view=logs&j=c8d040bd-2103-5051-ff1e-9fedef6965c4&t=

[2021-01-20 15:48] jchodera commented on #24
The `openmm-torch` has only been on conda-forge for two days, and `torch` is a module of the real package named `pytorch`, which is now the name that everybody uses. I'm just worried that not using `pytorch` will cause confusion.

[2021-01-20 15:55] jaimergp commented on #24
I'll have to check if package renaming is allowed or we need to provide an "alias" package. The Python wrapper package for this projects is called `openmmtorch` too. Is that going to change to `openmmpytorch` too?

[2021-01-22 01:43] jchodera commented on #24
@peastman : Any thoughts/preferences?

[2021-01-22 01:43] jchodera commented on #10
ANI-2x is now supported!

[2021-01-22 01:43] #10 closed

[2021-01-22 01:43] jchodera commented on #12
@peastman: Has this been addressed?

[2021-01-22 02:02] peastman commented on #12
We haven't added the suggested feature.  Whether there would be any benefit to it is an open question.  You can always set the positions with

[code]

The question is whether this approach could reduce overhead by a meaningful amount.  Someone would have to try implementing it and see.

[2021-01-22 06:48] Olllom commented on #12
In my opinion this could be really important for a lot of ML+MD applications and drastically reduce CPU<->GPU transfer in applications that require only energy/force evaluations of classical potentials but no integration.

I have not been able to dedicate time to this and will probably not do so in the near future. One thing that scares me a bit is interfacing OpenMM's SWIG wrappers with torch's p

[2021-01-22 16:21] peastman commented on #12
I *think* if you call `.data_ptr()` on the tensor that will give you the device pointer for it.  So we could implement it with a Python function that extracts the pointer from the tensor, then passes it down to the C++ function.  That way the C++ code wouldn't have to deal with any PyTorch objects directly, and users would still have a clean API.

[2021-01-22 16:24] peastman commented on #24
I think my preference is to leave things as they are.  Either name would be fine, so why create extra work for ourselves and our users by changing it?

[2021-01-22 16:30] #24 closed

[2021-01-28 20:37] jaimergp commented on #11
Now that [conda forge packages are available](https://anaconda.org/conda-forge/openmm-torch), this can be closed, I guess? [The recipe files can be checked here](https://github.com/conda-forge/openmm-torch-feedstock/tree/master/recipe) if anybody wants to try local.

[2021-01-28 20:57] peastman commented on #11
Agreed.  Compiling and getting everything consistent can still be difficult, but now there should be less need for people to compile it themselves.

[2021-01-28 20:57] #11 closed

[2021-02-02 17:17] #22 closed

[2021-02-02 17:25] swails commented on #22
Jenkins installs and tests OpenMM in [this container](https://github.com/Amber-MD/common-dockerfiles/blob/master/cuda-opencl/Dockerfile).

If you update that Dockerfile in a PR, it'll update the image automatically and pull it for all OpenMM GPU builds.

[2021-02-23 17:34] jeff231li opened #26 "Running ANI potentials with openmm-torch"
Hi, is there a working example/script for running a simulation with `torchANI` potentials in OpenMM with the `openmm-torch` plugin?

[2021-02-23 18:07] peastman commented on #26
We're developing a simplified API for this.  It's still early in development, but it should be usable already, so give it a try: https://github.com/openmm/openmm-ml.

[code]

For documentation see https://github.com/openmm/openmm-ml/blob/main/openmmml/mlpotential.py.

[2021-02-23 19:14] jeff231li commented on #26
I was able to add the ANI potential to my system using the `createMixedSystem` function

[code]

but when I run `minimizeEnergy` or an MD run I get the error message below:
[code]

[2021-03-08 18:06] peastman commented on #26
I'd like to try to reproduce this.  Would it be possible for you to post a complete test case, including the full script and input files?

[2021-03-10 08:31] jeff231li commented on #26
@peastman Attached is the full python script and input files I used. Also, below are the software versions I have in my conda environment.

- openmm v7.5.0
- openmm-torch v0.1
- torchani v2.2
- torchvision v0.8.2
- pytroch v1.7.1

[molecule.zip](https://github.com/openmm/openmm-torch/files/6114359/molecule.zip)

[2021-03-11 18:02] peastman commented on #26
Thanks!  I can reproduce it.  I have an idea what the problem might be, and I'm working on it.  Unfortunately I'm currently getting segfaults inside libtorch, probably due to incompatibilities between different versions of libraries, so that's making it harder to debug...

[2021-03-11 20:19] victorprincipe commented on #26
Hi, I'm trying to run a mixed simulation using ANI for the ligand in a protein-ligand complex. I'm having this same issue with segfaults inside libtorch. Could you please let me know if you manage to resolve it and, if so, how you did it? Thanks in advance!

[2021-03-11 20:57] peastman commented on #26
The segfaults came from having two different copies of libtorch.  There was a standalone copy that I compiled against, but at runtime I needed to make sure that copy was *not* in the library path.  Instead, I needed to add the path to the one installed by conda.  Even though they were both supposedly the same version, that led to a crash.

I'm now trying to track down the tensor size mismatch show

[2021-03-11 21:04] victorprincipe commented on #26
Ok great thanks for letting me know, I'll see if I can debug by doing the same

[2021-03-12 00:31] peastman commented on #26
Then again, some of the segfaults have started reappearing.  There must be something more going on.

[2021-03-15 18:36] peastman commented on #26
It looks like this error has nothing to do with OpenMM.  I was able to reproduce it using just PyTorch and TorchANI.  See https://github.com/aiqm/torchani/issues/586.

[2021-03-16 06:21] jeff231li commented on #26
@peastman Thank you for investigating this issue. I was able to reproduce the error message with the example script you posted on the `torchani` Github page. It looks like the bug in PyTorch
 is fixed with the release of `v1.8.0`. However, I think `openmm-torch`, as installed from conda, is not compatible with PyTorch `v1.8.0`. I'm getting the error below when I rerun my `openmm-ml` script.
[code]

[2021-03-16 16:40] peastman commented on #26
@jaimergp does the conda package specifically depend on PyTorch 1.7?  If so, can we update it to 1.8?

[2021-03-16 16:45] jaimergp commented on #26
The packages are pinned against the major version (so it should work with pytorch >=v1.7.1,<2.0.0a), but maybe it should be pinned against major.minor (>=1.7,<1.8.0a). I will release new packages with this in mind and rebuild for pytorch 1.8.

[2021-03-16 16:51] peastman commented on #26
I think pinning to the major version is fine.  The issues are that 1) PyTorch 1.7.1 has a bug that prevents this from working, so we should require 1.8 or higher, and 2) if possible we should only set a lower bound, so we don't prevent conda from upgrading to 1.9 when it gets released.

[2021-03-16 16:52] jaimergp commented on #26
According to this https://github.com/pytorch/pytorch/issues/28754, we might need to pin even stricter because there are no ABI guarantees across versions. The lower bound is going to be on the one used to build the plugin, the upper bound can be chosen, but I'd argue major.minor is a conservative compromise.

[2021-03-16 17:23] peastman commented on #26
I think that issue may be out of date.  They say

But that was written a year and a half ago.

Are we willing to commit to releasing a new build for every new PyTorch build that gets released?  If not, that isn't a viable approach.  It's an unfortunate consequence of the broken dependency model used by Python and conda.  If we require a specific PyTorch version, and another package requires a diff

[2021-03-16 17:25] jaimergp commented on #26
We might need to expand the build matrix to include recent major.minor versions, as we do with `cudatoolkit`. I asked about it in https://github.com/conda-forge/pytorch-cpu-feedstock/issues/40.

[2021-03-17 12:32] victorprincipe opened #27 "Error when trying to create mixed system"
Hi,

I've been trying to use ANI-2x to model the ligand during the simulation of a protein-ligand complex. I've been using the code below to set up the system.

[code]
The last line in the code raises the following error:

[code]

I'm not sure why this is occurring, so any help would be greatly appreciated. I've also attached the prmtop and inpcrd files below. Thanks in advance!

[system_files.zip

[2021-03-17 16:57] peastman commented on #27
It looks like TorchANI has changed the input to `species_to_tensor()`.  It used to be a string listing the element symbols.  That was fine for ANI1, which only supported elements with one-character symbols.  ANI2 adds Cl, and apparently it doesn't handle the two-character symbol correctly.  Instead they allow you to pass a list of symbols rather than a single string of concatenated symbols.

Let m

[2021-03-17 17:04] peastman commented on #27
The fix is in https://github.com/openmm/openmm-ml/pull/7.  Could you try it out and verify it fixes the problem for you?

[2021-03-17 18:34] victorprincipe commented on #27
I just tried it and the change solved the issue! Thank you for looking into it for me. Unfortunately I get another error message now during the minimisation step (shown below). Do you know what could be causing this issue?

[code]

[2021-03-17 18:59] #27 closed

[2021-03-17 19:05] peastman commented on #27
Oops, I though I had already fixed that, but apparently I didn't actually check it in.  The fix is in https://github.com/openmm/openmm-ml/pull/8.

[2021-03-18 11:04] victorprincipe commented on #27
Thank you, that fix solved it. Now getting errors when setting velocities to a temperature due to the autogrid engine being called while holding the GIL, which seems to be an error from pytorch so I'll raise it on there.
Thanks again for all the help!

[2021-03-18 16:02] peastman commented on #27
Fixing that required a change to OpenMM.  It's in https://github.com/openmm/openmm/pull/3061.  The fix will be in 7.5.1, which should be released shortly.

[2021-03-18 16:38] victorprincipe commented on #27
Ah ok I'll wait on the fix from OpenMM then, thanks for letting me know

[2021-03-18 18:25] peastman commented on #27
It's also in the latest nightly build, if you want to start experimenting with it now.

[code]

Just remember that nightly builds aren't well tested and should never be used for production simulations.

[2021-03-19 14:08] victorprincipe commented on #27
I've installed the nightly build into a new environment to test it out, but I'm running into some other errors on both my home computer (running macOS) and a remote work station I use (running Linux). For the Linux system I am getting a segmentation fault with no other information:
`Segmentation fault (core dumped)`
For the macOS system (using the CPU as the platform), I am getting an error regard

[2021-03-19 15:47] peastman commented on #27
It looks like that's a known PyTorch bug.  It was reported in https://github.com/pytorch/pytorch/issues/47570, and supposedly was fixed in https://github.com/pytorch/pytorch/pull/48741, which was merged on Dec. 3.  But you're still getting the same error in the latest release?

For the segfault, can you try running it in gdb?  Let it run until it crashes, then use `bt` to get a stack trace for whe

[2021-03-19 16:10] victorprincipe commented on #27
I'm using the following versions of pytorch on my home computer:
[code]

I've run the code in gdb for the remote workstation that has the segfault, which gave the following output:
[code]

[2021-03-19 16:14] peastman commented on #27
You need to type `bt` to get a stack trace for where the error happened.

[2021-03-19 16:16] victorprincipe commented on #27
Ah sorry forgot about that bit, here it is:
[code]

[2021-03-19 17:18] peastman commented on #27
I don't see anything related to OpenMM in that trace.  It's in Python code up to stack frame 20, where Python calls `dlopen()` to load a module.  It stays in `dlopen()` code until stack frame 9, where it enters initialization code for libtorch-cpu.so, and it eventually crashes inside that library.

I would guess this is some sort of version incompatibility, where you somehow have installed differe

[2021-03-19 17:25] victorprincipe commented on #27
Ok thank you for looking into that for me, I will try and compare it to the other environment (that doesn't have the nightly build) and see how versions differ.
Is this also what is causing the separate issue on macOS?

[2021-03-19 17:28] peastman commented on #27
I don't think so.  That error is inside the code for loading a TorchScript module, and the issue linked above suggests it's a PyTorch bug.  Make sure you really are using PyTorch 1.8, not any earlier version.

[2021-03-19 17:38] victorprincipe commented on #27
Just checked again and it says I'm on version 1.8.0. I'll raise an issue on the PyTorch page and hopefully they can figure out what's going on with that error.

[2021-03-19 17:44] peastman commented on #27
It's possible to have multiple versions on your computer, such that conda lists one version, but the OpenMM plugin is actually linking to a different one.  Make sure you don't have an old version of libtorch hanging around somewhere.

[2021-03-19 21:10] peastman commented on #26
It sounds like they want us to do separate builds for each PyTorch version.  Shall we go ahead and do a build for 1.8?  We need to get it out, since 1.7.1 has a serious bug.

[2021-03-20 11:50] victorprincipe commented on #27
Turns out that PyTorch v1.8.0 was causing all the errors- I uninstalled miniconda and reinstalled it and all the packages and I had the same issue. After downgrading to Pytorch v1.7.1 I didn't get the error anymore. Now I'm still getting error regarding releasing the GIL when setting velocities to a temperature, even on the nightly build (py39hbb05945_6_apple).

[2021-03-20 13:29] victorprincipe commented on #27
Also, on the Linux workstation, I installed pytorch v1.8.0 through pip (as conda didn't allow it due to conflicts), which then gave seg faults so maybe that was what was causing the seg faults previously?

[2021-03-20 17:08] peastman commented on #27
You really shouldn't be getting the GIL error if you're using the latest nightly build.  Try running the following script.

[code]

What does it print?

Were you using a version of the plugin that was compiled against 1.7.1?  If so, then it's expected not to work with 1.8.  PyTorch doesn't maintain binary compatibility.

[2021-03-20 19:06] victorprincipe commented on #27
I had to change the script to:
[code]
And it printed:
[code]

To be honest I'm not sure how to check this... I just noticed that downgrading to v1.7.1 solved the unknown device error.

[2021-03-21 17:09] peastman commented on #27
That revision corresponds to 7.5.  You aren't using a nightly build.

[2021-03-21 17:23] victorprincipe commented on #27
Hm that's strange, I used
```conda install -c conda-forge -c omnia-dev openmm```
again just now and it said all packages are up to date. Don't know why it's not installing the latest nightly build...

[2021-03-21 17:50] victorprincipe commented on #27
Turns out I could install it on Linux using the `--no-channel-priority` option, however I'm now getting issues during energy minimisation similar to #26 , but I can't install pytorch 1.8.0 through conda and installing it through pip gives segfaults

[2021-03-21 18:44] peastman commented on #27
We'll try to get out a PyTorch 1.8 build soon.

[2021-03-22 11:08] jaimergp commented on #26
Sure thing, I'll do it this week!

[2021-04-01 01:12] jeff231li commented on #26
When the new `openmm-torch` is out on Conda to work with `pytorch v1.8`, will this work with `openmm v7.5`, or will I need to install the nightly build? This seems to be the case from what I gather in https://github.com/openmm/openmm-torch/issues/27.

[2021-04-01 17:22] peastman commented on #26
It should work with 7.5.  But according to https://github.com/aiqm/torchani/issues/586, upgrading to PyTorch 1.8 doesn't entirely fix the problem.  They've figured out a way to work around it through a change in TorchANI.

[2021-04-02 19:53] jeff231li commented on #26
I tried the fix from https://github.com/aiqm/torchani/issues/586 with openmm v7.5 & pytorch v1.7.1 and it seems to work only if I don't add a `StateDataReporter` object because of the GIL issue (fixed in the upcoming openmm v7.5.1). I also tried installing the nightly build of openmm using `conda install -c conda-forge -c omnia-dev openmm` and my script works but only on the CPU. If I run on the G

[2021-04-05 16:46] victorprincipe commented on #27
Hi, I just wanted to let you know that I tried to run the script on the CPU and didn't get segfaults, but I'm still getting the issue with the GIL, even though I've got the nightly build of OpenMM 7.5.1 installed. The script you sent through (below) gave the following output: `98d817304cf97c78d19b7b54304fb0b1ecb90566`
[code]

I'm also using PyTorch 1.7.1

Here is the error that was raised while se

[2021-04-05 21:48] peastman commented on #27
Thanks!  It looks like `setVelocitiesToTemperature()` is another method that needs to release the GIL.  When using a leapfrog integrator, it needs to compute forces to apply the half step offset.

[2021-04-06 07:05] jaimergp commented on #26
I have built properly pinned packages for openmm-torch now.

* Build number 3 is built against PyTorch 1.7.1 and CUDA 10.2
* Build number 4 is built against PyTorch 1.8 and CUDA 11

If there are no ABI changes in OpenMM between 7.5 and 7.5.1, I *think* you could do:

[code]

This *should* install OpenMM-Torch 0.1 build number 4, CUDA 11, OpenMM 7.5.1rc1 and PyTorch 1.8, which is hopefully what you

[2021-04-06 09:52] victorprincipe commented on #27
I've gotten around the issue by running equilibration using the traditional MM system and then passing the positions/velocities to the new system for the production simulation. Strangely, the production run for about 1800 steps and then this error is raised:
[code]

When I used the DCD reporter (instead of the Mdcrd reporter) I got a similar issue at a similar step count but it then said that the

[2021-04-06 13:43] dominicrufa commented on #26
heads up: those 2 lines are conda installing pytorch 1.7.1:
![image](https://user-images.githubusercontent.com/46943710/113720327-8556ac00-96bc-11eb-81ef-86f8b23e98b4.png)

[2021-04-06 13:45] jaimergp commented on #26
Can you force PyTorch 1.8?

[code]

[2021-04-06 13:49] dominicrufa commented on #26
ah, it looks like following the [torchani pip installation](https://pypi.org/project/torchani/) updates to pytorch 1.8.1

[2021-04-06 13:50] jaimergp commented on #26
I cannot guarantee that update works at all, given their different provenances and potential ABI incompatibilities. `torchani` should be distributed on `conda-forge` to ensure maximum compat.

[2021-04-06 13:52] dominicrufa commented on #26
okay. let me go back and try again

[2021-04-06 13:53] victorprincipe commented on #27
Never mind, I changed the time step to 1 fs and it solved the issue! Seems to be working for now but will have to wait and see...
Thanks again for all the help!

[2021-04-06 14:06] dominicrufa commented on #26
some conflicts:
![image](https://user-images.githubusercontent.com/46943710/113723818-b97f9c00-96bf-11eb-9aeb-32c8903fad7d.png)

[2021-04-06 14:13] jaimergp commented on #26
For me, that command successfully resolves and creates an environment with the requested packages. Let's try two things:

If this is on Linux and there's a CUDA installation around, there's a chance the Nvidia drivers are not recent enough and are restricting `cudatoolkit` to 10.2, which is not available for the PyTorch 1.8 builds. If that's the case, this might work:

[code]

However, the resulti

[2021-04-06 16:55] dominicrufa commented on #26
`mamba` FTW. i was running an outdated `conda` version. seems to work now!

[2021-04-06 17:30] peastman commented on #26
I wasn't familiar with it.  It looks like it's basically conda, but faster and with more useful error messages?  Sounds like an improvement!

[2021-04-06 17:34] jaimergp commented on #26
Yep! A C++ rewrite implementing the same CLI API, and some new bits here and there. QuantStack is doing great stuff in the `conda` world: https://github.com/mamba-org

[2021-04-07 02:17] dominicrufa opened #28 "`TorchForce` object has no attribute `addGlobalParameter`"
I'm trying to make a mixed system and tether a `scale` to the `TorchForce` as described [here](https://github.com/openmm/openmm-torch#defining-global-parameters-that-can-be-modified-within-the-context) but I'm seeing
![image](https://user-images.githubusercontent.com/46943710/113800584-342ed280-9725-11eb-82a9-1f5e3fba7301.png). specifically, there is no `addGlobalParameter` when i `dir(openmmtorch

[2021-04-07 18:25] peastman commented on #28
It looks like that feature just missed getting into the 0.1 release.  We should do a new release.

[2021-04-07 18:44] dominicrufa commented on #28
okay. i think that is the last blocking thing for me.

[2021-04-09 13:52] dominicrufa commented on #28
@peastman , @jaimergp built a new `openmm-torch` (attached) from the current master. it is conda-installable via

[code]
,but it still doesnt have `addGlobalParameter` attr with the `TorchForce`. could you take a look?

[openmm-torch-0.2rc1-py39h64e9529_0.tar.gz](https://github.com/openmm/openmm-torch/files/6286183/openmm-torch-0.2rc1-py39h64e9529_0.tar.gz)

[2021-04-09 15:20] victorprincipe commented on #27
Hi Peter,
Now that the script runs without errors, I've been running 6 ns simulations using the ANI potential for the ligand during production simulations. I've been running each simulation on a separate GPU. During equilibration steps, the CPUs are hardly in use and the simulation runs quickly. However, when it reaches the production steps, although it says the process is running on the GPU using

[2021-04-09 17:01] peastman commented on #27
You're using OpenCL instead of CUDA.  We only tell PyTorch to use CUDA if you use the OpenMM CUDA platform, so it's probably running on the CPU.

[2021-04-09 17:27] victorprincipe commented on #27
Ah ok that makes sense. I've changed the script to use CUDA but I'm getting this error now:
`OpenMMException: Error loading CUDA module: CUDA_ERROR_INVALID_PTX (218)`
Does this mean I need to update the CUDA driver from 10.2 to 11, as I'm using the build that works with PyTorch 1.8 and CUDA 11?

[2021-04-09 17:30] peastman commented on #27
Possibly so.  You need a driver that's at least as new as the CUDA toolkit.  But what did you do in the equilibration runs?  If those were running on the GPU, you must have done something differently.

[2021-04-09 17:35] victorprincipe commented on #27
For the equilibration runs I wasn't using PyTorch. I was just running energy minimisation and equilibration using AMBER force fields for the whole system due to the GIL issue with the `setVelocitiesToTemperature()` method. After equilibration I passed the positions and velocities to the new hybrid MM/ML system.
I'll try and update the drivers and hopefully that'll solve the issue. Thanks again!

[2021-04-09 23:34] dominicrufa commented on #28
ive been having trouble installing this from source. I'll only be able to test `opencl` if i can get manage to do that, though

[2021-04-10 00:41] peastman commented on #28
That's fine.  It only has changes to the Python wrapper, so it doesn't matter what platform you use.

[2021-04-11 19:55] dominicrufa commented on #28
[code]
alright i was able to get `opencl` necessaries to install the PR from source after some troubles, and it seems that the appropriate python wrappers are in and define `addGlobalParameter` and the other necessary methods. @peastman, could you merge when you can? @jaimergp , could you build the conda package at your earliest convenience?

[2021-04-11 20:24] #28 closed

[2021-04-11 20:25] peastman commented on #28
Merged!

[2021-04-12 16:21] mikemhenry commented on #28
Thanks! Would you mind cutting a release os it gets picked up by conda-forge?

[2021-04-12 16:22] jaimergp commented on #28
We'll need a tag + GitHub [release](https://github.com/openmm/openmm-torch/releases/tag/v0.1) for that.

[2021-04-12 19:42] dominicrufa opened #30 "Global Parameters are not being registered by `openmmtorch.TorchForce`"
I attempted to retrieve the global parameter from a `openmmtorch.TorchForce`, but it doesnt seem to register any global parameters after they have been set.
![image](https://user-images.githubusercontent.com/46943710/114450848-8304be00-9ba4-11eb-8e59-62e3bf04018a.png)
I modified the `openmm-ml` repo slightly [here](https://github.com/dominicrufa/openmm-ml) to put a `scale` term in the `forward` me

[2021-04-12 20:14] peastman commented on #30
This is related to how SWIG works.  Notice that it lists that force as just being a `Force` rather than a `TorchForce`.  There's a Python class for each C++ class.  `getForce()` somehow needs to figure out what Python class to use for each C++ Force object.  SWIG generates a "factory" to do that, but it only knows about the classes that are built into the main OpenMM library.  It doesn't know abou

[2021-04-12 21:53] dominicrufa commented on #30
alright, that did the trick. the (hopefully) last bit is that i am seeing this:
![image](https://user-images.githubusercontent.com/46943710/114467449-f06e1a00-9bb7-11eb-9d5a-a9e43d7f6c7d.png)
upon an attempt to retrieve the energy.

[2021-04-14 14:55] couteiral opened #31 "Error accessing energy"
Hi OpenMM team,

First of all, many thanks for your fantastic work on the OpenMM suite of projects!

I have been trying to get OpenMM-Torch to work on a couple of test systems, but I seem to be struggling with a particular error whenever I try to access the energy, be it directly via ``context.getState(getEnergy=True)``, or even with the Reporter objects when I use the higher-level API. The error

[2021-04-14 16:22] peastman commented on #31
This was caused by a change in behavior of PyTorch.  To fix it we had to make a change (https://github.com/openmm/openmm/pull/3061) to OpenMM.  That change will be in 7.5.1.  We're hoping to get out a release candidate today or tomorrow.

[2021-04-16 00:49] jeff231li commented on #26
Thanks @jaimergp for releasing a new version on conda. Closing this issue.

[2021-04-16 00:49] #26 closed

[2021-04-27 04:00] dominicrufa opened #32 "`TorchForce`-augmented system has inconsistent forces"
In attempting to make a `TorchForce` with a scale factor (as a global parameter) that acts on a subset of particles in a system, I encountered dynamics that nan pretty readily. Upon taking a closer look, I realized that there might be a problem in the way that the force matrix is computed?

To explain, I took a host-guest system (`mm_system`) from `openmmtools`, deepcopied it ( `ml_system`) and to

[2021-04-28 19:06] peastman commented on #32
That's really puzzling.  The handling of the global parameter is all internal to the model.  If you multiply the energy by 0, that should also multiply the forces by 0.

I'm trying to reproduce this, but running into a lot of problems creating an environment with consistent versions of all the dependencies.  I'll keep working on that.  Meanwhile, could you try a few tests?

See whether the behavio

[2021-04-29 20:07] dominicrufa commented on #32
sorry i missed this yesterday. I made a much more stripped down version (simpler `TorchForce` and system) of the test [here](https://gist.github.com/dominicrufa/93997eb77c365022712e9f1beabcaddf) where I addressed the following suggestion:

it seems like (from the attached gist, the forces are still discrepant w.r.t. a control (no `TorchForce` modification)).

I'll try different platforms and diffe

[2021-04-29 20:15] dominicrufa commented on #32
@jaimergp  gave me this conda-installable of the current working master:
[omm.zip](https://github.com/openmm/openmm-torch/files/6401391/omm.zip)

[2021-04-29 20:56] dominicrufa commented on #32
strangely, when i make the `TorchForce` group 1, the different force groups seem to calculate properly:

[code]
at least with a `Reference` platform. I don't have CUDA locally, but will test on a cluster at some point today/tomorrow.
I think i can get around this by making a custom integrator to handle the 'normal' forces separately from the `TorchForce`?

[2021-04-29 21:04] peastman commented on #32
Let me see if I understand.  You're saying that if you put the TorchForce in a separate group and query the groups separately, each one gives correct forces.  But if you query the total force (omitting the `groups` argument), the force does not equal the sum of the two individual groups?  If that's correct, make sure there isn't some other force in a different group.

[2021-04-29 21:41] dominicrufa commented on #32
precisely. and all forces are in group 0 except the `TorchForce`, which is group 1.

[2021-04-30 14:40] #30 closed

[2021-05-02 22:02] dominicrufa commented on #32
as an update, it seems that running MD is unstable even when the `TorchForce` is scaled to 0. Also, it seems that running MD by only calculating forces from the non-`TorchForce` force group is unstable, as well.

[2021-05-05 15:48] dominicrufa commented on #32
update : using a force-splitting scheme (by force group) in an MD integrator seems to fix the problem, as well.

[2021-05-06 15:02] keano130 opened #33 "Making Neighborlist accessible"
I trained a model using the neural network from SchNetPack. This is a AtomisticModel, https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/schnetpack/atomistic/model.py. I would like to use this model in OpenMM for molecular modeling in python. The model requires not only the positions of the atoms, but also a neighborlist given a cutoff. Is it possible to acces the internal ne

[2021-05-06 16:52] peastman commented on #33
The internal neighbor list isn't in a form that would be suitable for this.  The last time I looked, SchNetPack didn't have a "real" neighbor list.  It was just a placeholder that included all interactions.  So it would be fine to just build it into the model.  It never needs updating.

[2021-05-07 07:47] keano130 commented on #33
I have a system with 304 atoms. I used the TorchEnvironmentProvider in https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/schnetpack/environment.py during the training. This is not a placeholder, in contrary to the SimpleEnvironmentProvider, which is also implemented in the same file.

[2021-05-07 15:53] peastman commented on #33
Are you able to compile it to TorchScript?  If so, you should be able to include it as part of the model.

[2021-05-09 18:58] keano130 commented on #33
I will look into that, due to the exams coming up, I wont really have time to do this the coming two months. Thank you for the help!

[2021-05-10 16:37] #33 closed

[2021-05-10 17:41] peastman commented on #32
I managed to get an environment set up where I can test this.  Everything in your notebook is working correctly for me.  In particular,

[code]

produces the output

[code]

They're identical, because the scale factor for the TorchForce is 0 and it adds no energy.  Likewise,

[code]

produces the output

[code]

as it should be.  This is using the Reference platform.  Is that different from what y

[2021-05-11 15:10] victorprincipe opened #34 "Protein unfolds during hybrid ML/MM simulations"
Hi,

I'm trying to run hybrid ML/MM simulations of a protein-ligand system in which the ML model is used for the ligand and a handful of binding site residues. However, certain parts of the protein binding site unfold very quickly, whereas this did not happen when the ML model was used on only the ligand. I was just generally wondering if these ML models can be used for only certain atoms within t

[2021-05-11 19:15] peastman commented on #34
In principle it should work for a subset of a molecule, though I haven't tried doing that.  One thing to be aware of is that ANI only supports neutral molecules.  If any of the residues you're using it for has a charged side chain, it won't work correctly.

[2021-05-12 17:15] raimis commented on #34
Currently `createMixedSystem` uses the *mechanical embedding*, where ML and MM regions interact only via non-bonded terms. This means that the peptide bonds of all the residues included into the ML region are cut (https://github.com/openmm/openmm-ml/blob/4f0546678eeb9b2703d28d3fce7f678802640701/openmmml/mlpotential.py#L236).

In principle, it would possible to adapt one of QM/MM schemes to handle

[2021-05-12 17:16] raimis commented on #34
@peastman it would make sense `createMixedSystem` to throw an exception if there is a bond between the ML and MM regions.

[2021-05-12 17:28] peastman commented on #34
I don't think that's quite correct.  A bond, angle, or torsion only gets removed if *all* atoms it involves are in the ML region.  Bonds that connect an MM atom to an ML atom are preserved.  That said, I don't think this will really give correct results unless your ML potential was specifically parametrized for it.  Especially with the torsions, you'll get both ML and MM terms contributing to the

[2021-05-14 05:24] jeff231li opened #35 "Slow speed with torchANI simulations on the GPU"
Hi, I benchmarked a simple system with GAFF and `torchANI` potentials on two different GPUs: GTX Titan X (Maxwell) and RTX 3090 (Ampere). For GAFF, I'm getting a 2x speed on the 3090 compared to Titan X (see table below). However, the two GPUs achieved very similar speeds when running with the `torchANI` potential. Is this something I should expect for simulations with `torchANI` potential or `ope

[2021-05-14 09:57] raimis commented on #35
A significant part of the computation overhead is coming form libTorch, which is more or less constant regardless the GPU.

[2021-05-14 16:36] peastman commented on #35
The zip file you posted is empty.  There are no files in it.

Are you using ANI for the entire system, or just the butane?  If the latter, I'm not surprised there's little difference.  The Ampere GPU is much wider (many more compute units) than the Maxwell one.  With that few atoms, it probably isn't able to fill the whole GPU.  And as @raimis points out, the speed will largely be dominated by ove

[2021-05-14 16:59] jeff231li commented on #35
I see, so this is the rate-limiting step in the calculation.

Ah my bad. I've updated the link above in my earlier comment to the correct zip file.

I'm using ANI just for the butane molecule but perhaps I can run the same benchmark using ANI for the whole system.

[2021-05-17 17:15] tyggna opened #36 "Question regarding custom forces"
Is there a way to use the OpenMM Langevin integrator, but supply my own code for the force calculations?

[2021-05-17 17:46] peastman commented on #36
That's the whole point of this plugin.  You supply an arbitrary Pytorch model to compute the forces.  Is that not what you mean?

[2021-05-17 20:33] tyggna commented on #36
My understanding is that this plugin takes position data, puts it into a pytorch network, and then expects an output that represents potential energy (a scalar).

I'm looking for a way to use the output of a network that also includes a Nx3 tensor output that represents force vectors on individual atoms.

[2021-05-17 21:02] peastman commented on #36
The force is computed automatically as the gradient of the energy.  Do you want to create a non-conservative force?  What sort of functional form does it have?

[2021-05-17 21:37] tyggna commented on #36
The network is based off an SE3 transformer, trained against ANI-2 data.  It was trained in such a way that the network itself can do the individual force calculations

[2021-05-17 22:05] peastman commented on #36
That isn't how this plugin is designed to work, but you could modify it.  For example, here's the relevant code in the CUDA implementation.

https://github.com/openmm/openmm-torch/blob/6472507abd5127f78673cdad67edf5eca406e11d/platforms/cuda/src/CudaTorchKernels.cpp#L99-L103

It calls `forward()` and interprets the return value as energy.  Then it calls `backward()` and interprets the gradient as t

[2021-05-17 22:46] #36 closed

[2021-05-17 22:47] tyggna commented on #36
Thank you, that is very helpful

[2021-05-18 08:42] victorprincipe commented on #34
Thanks for the suggestions. I've just finished running simulations using ANI on only uncharged binding site residues but the protein still unfolded throughout the simulation. As @peastman said, I guess ML can only be used for entire molecules at the moment.

[2021-05-18 17:08] peastman commented on #34
Hopefully we'll eventually be able to go beyond that.  But I think it will require potentials that are specifically designed for it.

[2021-05-27 01:01] dominicrufa opened #37 "`TorchForce`-equipped `System` object errs upon serialization/deserialization"
it appears that a `TorchForce`-equipped system loses its `TorchForce`-specific `GlobalParameter` after the system is serialized/deserialized. It also seems that when i equip the deserialized system to a context and try to retrieve the energy, i get a `NULL` error

[gist](https://gist.github.com/dominicrufa/515889658b314655d8d05ffda76d10de)

zipped yaml droplet of conda env:
[tre.zip](https://githu

[2021-05-27 16:39] peastman commented on #37
This has to do with the details of how SWIG generated wrappers work.  Deserialization is implemented in C++.  SWIG has to generate a Python wrapper object for each force in the system, but it only knows how to do that for force classes that are built into OpenMM, not ones that are defined by separate plugins.  It just returns a generic Force object rather than a TorchForce.  Pass that object to `T

[2021-05-28 14:21] dominicrufa commented on #37
alright. slight confusion: once i deserialize a `TorchForce`-equipped system, i am basically replacing the `Force` object in the system with `TorchForce.cast(Force)`? If i do this, i get
`Exception: the System object does not own its corresponding OpenMM object`

[2021-05-28 16:45] #32 closed

[2021-05-28 16:54] peastman commented on #37
I'm not quite sure what you mean by "replacing" it.  If you want to call a TorchForce method on it, then instead of writing (for example)

[code]

you would instead write

[code]

That sounds like something is messed up internally.  Can you provide the code that leads to that exception?

[2021-05-28 17:25] dominicrufa commented on #37
so in this [gist](https://gist.github.com/dominicrufa/515889658b314655d8d05ffda76d10de), between which cells should I be calling `Torchforce.cast`? also, should i `cast` before i serialize the system or after i deserialize (like in `In [19-20]`)? sorry for the confusion.

[2021-05-28 17:53] peastman commented on #37
I don't see anywhere you would need to cast it.  Once you add the TorchForce to the System, you never reference it again.

The Python Force object is just a lightweight wrapper around a C++ object.  Initially you create a TorchForce Python object, which wraps a TorchForce C++ object.  That's stored in the System.  But when you call `getForce()`, it doesn't know what kind of Python object to create

[2021-05-28 18:14] dominicrufa commented on #37
right, i didn't think i would have to cast it. so it isnt obvious why i'm getting a null error in cell 25?

[2021-05-28 18:25] peastman commented on #37
You're running into (this error)[https://github.com/openmm/openmm/issues/3098].  The exception just has the wrong message.  Most likely it's a NaN.

[2021-05-28 18:31] dominicrufa commented on #37
i'm not sure how that could be since I passed the exact same positions to the system's context _before_ system serialization/deserialization and got a non-nan energy.

[2021-05-28 18:43] dominicrufa commented on #37
duly noted. but from the gist, I am creating a context, setting postions, and getting a non-nan energy _before_ serializing/deserializing the system. there is only an  error after I am creating a context with the deserialized system (and setting the same, previous positions)

[2021-05-28 18:45] dominicrufa commented on #37
also, I am adding a global parameter to the torchforce, which exists in the `context.getParameters` before i serialize the system, but not after i create a context with the deserialized system. (in cell 17 but not in cell 26)

[2021-05-28 22:02] peastman commented on #37
Here's the actual error that's being thrown:

It looks like the serialization proxy isn't saving and restoring the global parameters correctly.  Let me fix that!

[2021-05-28 22:57] #37 closed

[2021-05-28 22:58] peastman commented on #37
Can you verify this fixes the problem for you?  Then I can make a new release.

[2021-05-29 00:41] dominicrufa opened #39 "update conda"
@peastman , can you open a merge to conda forge. thanks!

[2021-05-29 04:03] peastman commented on #39
Once I create the release, conda-forge will create a PR to build new packages automatically.  Can you verify the fix before I do that?

[2021-05-29 13:47] dominicrufa commented on #39
yes, it's working.

[2021-06-01 20:54] dominicrufa commented on #39
@peastman , can you get this is at your earliest convenience?

[2021-06-01 21:17] peastman commented on #39
Sorry!  Conda-forge was supposed to have automatically created a PR to build the new packages, but for some reason it didn't.  I just created it manually.  https://github.com/conda-forge/openmm-torch-feedstock/pull/9

@jaimergp When I added the "please rerender" comment, it replied with a message that said, "I tried to rerender for you, but it looks like there was nothing to do."  Is that normal o

[2021-06-02 13:50] jaimergp commented on #39
That's normal. It means that the pinnings and scripts running the CI are already up-to-date 👌

[2021-06-04 00:16] dominicrufa commented on #39
@peastman , it looks like you updated conda. can i close this issue? or you may :)

[2021-06-04 00:30] #39 closed

[2021-06-04 00:57] dominicrufa commented on #35
hm, so i took a stab at profiling cpu vs gpu integration time with a `TorchForce` equipped/unequipped. I took the [HostGuestExplicit](https://openmmtools.readthedocs.io/en/0.18.1/api/generated/openmmtools.testsystems.HostGuestExplicit.html#openmmtools.testsystems.HostGuestExplicit), treated the guest molecule (30 atoms) with the `TorchANI` 2x module, ran 100 md steps on gpu/cpu (labelled `ml`). as

[2021-06-04 00:58] dominicrufa commented on #35
@peastman , @raimis , i was surprised by the variance in the `TorchANI`-equipped gpu simulation compared to the other three integration time profiles. is there a speculation as to why this may be the case?

[2021-06-04 16:34] peastman commented on #35
How did you measure the time?  Did you do something like repeatedly calling `step(1)` and checking the time after each call?  If so, you're probably seeing an artifact of the measurement process.  Launching kernels on the GPU is asynchronous.  It just adds the kernel to a queue and returns immediately.  `step()` will usually return before it has actually finished computing the step.

I would measu

[2021-07-01 14:54] xqding opened #40 "Error when building from source"
I followed the tutorial to build the plugins from source and had the following error when I run "make install".

Scanning dependencies of target CopyTestFiles
[  3%] CMake-copying file /home/xqding/Downloads/openmm-torch-v.03/tests/central.pt to /home/xqding/Downloads/build_openmm_torch/tests/central.pt
[  6%] CMake-copying file /home/xqding/Downloads/openmm-torch-v.03/tests/global.pt to /home/xqd

[2021-07-01 17:26] peastman commented on #40
I'm not sure what's going on.  `/usr/local/cuda` doesn't appear anywhere in your CMakeCache.txt, so it isn't getting it from there.  It's also significant that the error occurs while building libOpenMMTorch.so, which shouldn't be linking to CUDA at all.  Any CUDA dependencies should be in libOpenMMTorchCUDA.so.

Could this be an indirect dependency coming from PyTorch?  That is, libOpenMMTorch.so

[2021-07-05 16:42] xqding opened #41 "Error on Reference platform when ForceModule has submodules"
The following script works on both CUDA and OpenCL platforms, but fails on the Reference platform. It seems to happen when the ForceModule has submodules as in the script.

[code]
This is the output message:

[code]

[2021-07-05 18:27] peastman commented on #41
Could you replace the call to `context.getState()` with `reference_integrator.step(1)` and see what the error message is?  There's a bug in 7.5.1 where if something inside `getState()` throws an exception, you get that uninformative error message instead of the correct one.  `step()` should throw the same exception, so we can see what the error actually is.

[2021-07-05 19:03] xqding commented on #41
Thanks for the suggestion. Using `reference_integrator.step(1)` does provide more informative error message:

[code]
The error is because of float precision. The reference platform uses double precision whereas the Pytorch module uses single precision by default. After I change the Pytorch module to double precision and both `context.getState()`  and `reference_integrator.step(1)` work on the Refe

[2021-07-05 19:03] #41 closed

[2021-07-07 20:20] xqding opened #42 "Simulation explodes after adding a TorchForce that is identical to zero"
The following script simulates a simple system with 10 particles. The system has two forces: a simple harmonic bond force and a TorchForce. The forces applied on particles via the TorchForce is made into zeros, so the system with the TorchForce should be identical to that without the TorchForce. Without the TorchForce, simulations of the system is stable. After adding the TorchForce, simulation of

[2021-07-08 15:32] peastman commented on #42
Is it possible the potential energy is nan?  0\*nan = nan, so multiplying by zero doesn't protect against that.

Try changing `forward()` to just return `torch.tensor(0.0)`.  Does that fix the error?

When you say the system explodes, what exactly does that mean?

[2021-07-08 16:03] xqding commented on #42
No. The potential energy is not nan.

It will make the output of forward not depend on positions and `backward()` fails when running `integrator.step()`

There are energy and forces when I run the simulation with both forces.
[code]
In contrast, if I remove the Torchforce from the system, the output is:
[code]

If I remove the harmonic force, the output is
[code]

With both forces, the energy of t

[2021-07-08 16:16] raimis commented on #42
@xqding try to change the order you add the forces to the system, i.e. `TorchForce` first, `HarmonicBondForce` second.

[2021-07-08 16:42] xqding commented on #42
Thanks for the suggestion. It does fix the problem. Why would the order of adding forces to the system make a difference here?

In case it is useful for debugging, I updated the script in my original comment to reproduce the issue.

[2021-07-09 11:21] raimis commented on #42
I guess that this is because OpenMM and PyTorch create separate CUDA contexts (ideally they should use the same). We tried to mitigate this incompatibility (#16, #17) , but probably it isn't enough. Changing the order of the forces, changes the order the contexts are initialized.

[2021-07-09 19:00] xqding commented on #42
@raimis Thanks for the explanation!

[2021-07-21 14:20] larsbratholm opened #43 "Model tensors not being loaded correctly"
I am not sure if this is an issue with how PyTorch saves Python JitScript models and loads them in C++, or if it is openmm-torch specific, but I am having issues with model tensors not being loaded correctly in openmm-torch. This is all tested with openmm-torch 0.03, OpenMM 7.5.1 and pytorch 1.8 from conda-forge.

A simple example is if the torch model includes some parameters that are converted t

[2021-07-30 11:47] raimis commented on #43
@larsbratholm thank you for reporting the issue and giving very detailed info how to reproduce it.

Recently, I have observed similar issues and was investigating ,but due to the holiday season probably won't be much progress until September.

[2021-08-25 16:54] dominicrufa commented on #42
i think i encountered this, too. is there a simple way to change the order of `Force` objects in a `System` without creating a new `System` altogether? an alternative is to place the `TorchForce` into a different `ForceGroup` than the other `Force` objects.

[2021-08-26 19:31] dominicrufa opened #44 "`TorchForce` missing `getNumGlobalParameters()` method"
I noticed that while the `TorchForce` supports `addGlobalParameter`, it doesn't have `getNumGlobalParameters` or `getGlobalParameterName`. Is it possible these could be added? or is there a way to wrap this `TorchForce` into a `CustomCVForce` so that I have access to these methods?

[2021-09-03 03:40] dominicrufa commented on #44
is there a way to make this consistent within OpenMM so that we don't have to be hacky with this object? and so it works seamlessly with repos like [openmmtools](https://github.com/choderalab/openmmtools). @jchodera , i think we might be keen on this functionality.

[2021-09-03 04:33] peastman commented on #44
Unfortunately, no.  This is a result of how SWIG works.  If a C++ function returns an abstract supertype, and you want it to create a Python object of the appropriate subtype, you have to give it a complete list of all allowed subtypes at build time.

[2021-09-04 21:05] jchodera commented on #44
Oh no, this is terrible. This is going to cause all manner of problems for Python applications using OpenMM and these new ML options.

@peastman : What are our options here? There must be some way to make this work without requiring all users to do crazy and highly-surprising non-idiomatic python gymnastics.

1. We could pull this into the OpenMM codebase (which could be an anchor feature of OpenM

[2021-09-05 16:27] peastman commented on #44
That would require making PyTorch into a dependency of OpenMM.  Not going to happen!

That's impossible.  It can only handle subclasses that are defined at compile time.  If you try to include ones from external plugins, you'll get a compile error.

Reimplementing the Python wrappers from scratch is also not going to happen.  That would be a huge task.  And why do think any other wrapper generator

[2021-09-05 17:31] jchodera commented on #44
Thanks for the quick response! I don't think these are the blockers they might seem.

PyTorch could be an optional dependency: You have to elect to install it in order to use the `TorchForce` plugin.
We already do this with CUDA: We link against it, but don't require either the CUDA drivers and (until recently) didn't require the CUDA toolkit or libraries to be present. If the plugin fails to load

[2021-09-05 20:39] peastman commented on #44
To make that work, we somehow need to bridge the C++ and Python elements of each plugin.  When a C++ plugin is loaded, it needs to force the corresponding Python plugin to get loaded as well.

I've been trying to work out a clean way of doing it.  I think something along these lines might work.  Have a static registry of Python module names defined within the C++ library.  When a plugin is loaded,

[2021-09-05 21:41] jchodera commented on #44
Which proposal, specifically?

My understanding was that migrating the plugin into the OpenMM branch as part of OpenMM 8 would not require anything special---just gracefully failing with an appropriate exception if someone tried to use `TorchForce` and the plugin library failed to load.

The proposal to use Python plugin discovery is clearly more complex, but sounds potentially workable. Given its

[2021-09-05 22:32] peastman commented on #44
PyTorch would become a compilation time dependency at the very least.  That would be a maintenance nightmare.  Dependency management in Python is a disaster and I go to great lengths to keep the number of dependencies for OpenMM to the absolute minimum.  Requiring PyTorch even at build time is a non-starter.

If you haven't been paying attention to the chaos in the ML ecosystem, you may think I'm

[2021-09-05 22:45] jchodera commented on #44
Oh, I've been paying attention, and it seems not (much) worse than the CUDA nightmares. We're struggling with some of those issues right now as part of the https://github.com/openkinome ecosystem, but things are slowly resolving as more of the conda-forge issues get worked out.

Despite the issues you note, it appears to be readily manageable if we wanted to pull the openmm-torch plugin into OpenM

[2021-09-06 17:42] peastman commented on #44
You'll have to trust my judgement on this: the plugin approach will be far less work in the long run.  "Not much worse than the CUDA nightmares" is a very low bar to beat!  And once it's implemented, it will continue to work with no further effort.  We won't have to worry about it breaking because of a change to some other package in the future.

[2021-09-06 18:08] jchodera commented on #44
It does seem like it would be a broadly useful feature to better support a plugin ecosystem!

[2021-09-17 16:14] jchodera opened #45 "NNPOps linking issue"
openmm-torch must be linked to NNPOps to be able to use it in torch runtime.

We need to find some way to dynamically load NNPOps library so symbols are available at the right now.

@raimis can correct this later

[2021-09-23 14:30] raimis commented on #42
I think that I have tracked down the cause of this issues (https://github.com/openmm/openmm/pull/3256).

[2021-09-24 20:49] peastman commented on #42
In https://github.com/openmm/openmm/pull/3258 I reworked context management as you suggested.  I still can't get this to work though.  I removed the calls to `setAsCurrent()` at https://github.com/openmm/openmm-torch/blob/76f55e7f43785d2331bb9366ffcd38a497609662/platforms/cuda/src/CudaTorchKernels.cpp#L70 and https://github.com/openmm/openmm-torch/blob/76f55e7f43785d2331bb9366ffcd38a497609662/plat

[2021-09-28 11:34] raimis commented on #42
The fix (#46) is merged. @xqding could you confirm it works for you?

[2021-09-28 11:35] raimis commented on #42
Adapting https://github.com/openmm/openmm/pull/3258 may take some time. @peastman we should make a release so at least the reference platform works correctly.

[2021-09-28 13:31] xqding commented on #42
@raimis Sure. Thanks for the fix. I assume I will need to compile it from source in order to incorporate the fix. It might take me some time because I have had some trouble with compiling from source on the cluster I am using. I will try to test it over the weekend and let you know.

[2021-09-28 16:01] peastman commented on #42
I just created the release.  Conda-forge should automatically generate a PR to build new packages within a few hours.

[2021-09-28 22:17] peastman commented on #42
In the above code, I changed Reference to CUDA.  That caused it to fail with the exception

[code]

The fix is to add `.to(torch.float32)` to the two Linear layers.  Once I do that, the script runs without problem even when not using the changes from https://github.com/openmm/openmm/pull/3258.  Do we have an example of something that fails without the CUDA changes?

[2021-09-29 17:52] raimis commented on #42
Yes, this doesn't capture the CUDA problems and I don't have a small example to demonstrate them.

[2021-09-29 17:55] raimis commented on #42
Also, still there are no packages for the version 0.4.

[2021-09-29 18:25] peastman commented on #42
For some reason it didn't create the PR.  I just created one by hand.  https://github.com/conda-forge/openmm-torch-feedstock/pull/10

[2021-09-29 22:06] peastman commented on #42
The packages should be up now.

[2021-09-30 12:19] raimis commented on #42
OpenMM-Torch 0.4 is out!

@xqding can you verify the fix.

@peastman regarding https://github.com/openmm/openmm/pull/3258, I'll open a separate issue, when I'll manage to make a simple and deterministic example.

[2021-09-30 12:49] raimis commented on #31
I tried this with:
- OpenMM 7.6.0
- OpenMM-Torch 0.4
- PyTorch 1.8.0

And it works:
[code]
@couteiral could you verify that works for you too and we can close this.

[2021-09-30 13:14] raimis commented on #43
@larsbratholm I have investigated the issues:
- OpenMM-Torch is designed to run inference on a single GPU only, so the `ParallelModel` model won't work as intended and we cannot fix it easily.
[code]
- The double precision issue. To emulate what is happening in OpenMM-Torch, `run_model_loaded_jit` should be like this:
[code]
The problem is that the TorchScirpt type inference is confused, so you ne

[2021-09-30 14:41] xqding commented on #42
Thanks for creating the release, which makes installing much easier. I ran the test using OpenMM-Torch 0.4 and pytorch 1.8.0.

1. On Reference platform, the initial explosion problem disappears and the simulation looks good.
2. On CUDA platform, the initial explosion problem also disappears, but I notice a disagreement between total energy and the sum of individual energy terms. The following scri

[2021-10-01 12:51] raimis commented on #42
@xqding thanks for the second test.

Good news: https://github.com/openmm/openmm/pull/3256 solves the problem, but it isn't not the best solution.
Bad news: I tried the better solution (https://github.com/openmm/openmm/pull/3258), but it doesn't work. It needs some modifications on OpenMM-Torch side.

[2021-10-01 15:15] raimis commented on #42
This is a simplified script which triggers the same issue:
[code]

[2021-10-01 19:51] peastman commented on #42
The above script reports no errors when I run it against the current main branches for OpenMM and OpenMM-Torch, that is, with no fixes for CUDA context management.  I ran it three times to be sure.  It successfully got through the 10,000 steps all three times.  That's with PyTorch 1.7.1.

[2021-10-04 08:51] raimis commented on #42
@peastman does the original @xqding script (https://github.com/openmm/openmm-torch/issues/42#issuecomment-931386518) reports an error?

[2021-10-04 15:58] peastman commented on #42
I can reproduce it with the original script.  And I verified my fix works.  I'll post a PR.

[2021-10-04 16:06] peastman commented on #42
The fix is in #47.

[2021-10-04 17:36] raimis commented on #42
OK! I'll test in my case.

[2021-10-05 12:45] raimis opened #48 "Allow the ML model to compute forces explicitly"
Currently the atomic forces are computed implicitly by differentiating the potential energy returned by the ML model.

We should allow the ML model to compute force explicitly (which aren't necessary the derivatives of the potential energy). This would facilitate the implementation of some ML-based enhanced sampling algorithms (https://github.com/openmm/openmm/issues/3268).

[2021-10-15 16:17] peastman commented on #43
I think it's just a difference in the dtype of the input.  The dtype of `positions` will be float32 if you tell OpenMM to use single or mixed precision mode, float64 in double precision mode.  PyTorch on CUDA is very particular about not mixing dtypes in the arguments to many ops.  Running on CPU it's more flexible.

[2021-11-09 17:44] #42 closed

[2021-12-13 17:33] raimis opened #51 "Update CI versions"
Update the CI to build and test with the latest version PyTorch and CUDA Toolkit.

[2021-12-13 17:39] raimis commented on #31
This has already been fixed!

[2021-12-13 17:39] #31 closed

[2021-12-14 15:46] raimis commented on #34
This is more issues for https://github.com/openmm/openmm-ml. @peastman could you move it there?

[2021-12-14 16:03] raimis commented on #43
Yes, OpenMM-Torch moves the model and all its parameters to the device, where it will be running.

No, OpenMM-Torch doesn't support yet the multi-device execution. So all the tensors have to be on the same device.

[2021-12-14 16:04] raimis commented on #43
I wrote some tests (#50) to check if argument to the PyTorch model are passed as intended.

We need to update the documentation too, so the users won't be confused.

[2021-12-14 18:53] larsbratholm commented on #43
Ok, thanks for the clarification. The behavior seems intentional now and I will close the issue as there doesn't seem to be a bug after all.

[2021-12-14 18:53] #43 closed

[2022-01-07 22:33] raimis commented on #51
Done by #53

[2022-01-07 22:33] #51 closed

[2022-01-10 16:42] #48 closed

[2022-01-12 11:18] raimis opened #54 "OpenMM-Torch 0.5"
After fixing the issue with the CUDA context (#47, #49) and adding the ability to output forces directly (#52), it is time for the next release.

@peastman do you agree?

[2022-01-12 17:27] raimis commented on #54
OK! Tomorrow, I'll make the release.

[2022-01-15 04:45] jchodera opened #55 "Versioning?"
How are we planning to version openmm-torch, and for users to know which versions of openmm-torch match with OpenMM?

Right now, OpenMM uses x.y.z for version numbers, but without true [semantic versioning](https://semver.org/), meaning API breaking changes can happen at `y` increments (e.g. 7.6.0 eliminated much of the Amoeba API and broke valid uses of the Python API). openmm-torch is using x.y,

[2022-01-15 05:04] jchodera commented on #54
@raimis : Tweet queued for the morning!

I'd love to give a shout-out to all the folks that helped with this release. Do you happen to have the twitter handles of the folks that should be publicly thanked?

[2022-01-15 06:06] jchodera opened #56 "Allow torch model to be used as Integrator"
I wonder if we could also support torch models used as `Integrator`s in OpenMM.

Perhaps something like this could work:
[code]
Here, we would have to [extend TorchScript with custom Ops](https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html) `openmm_compute_forces`, `openmm_compute_potential`, and `openmm_compute_potential_and_forces`, which would wrap the normal OpenMM energy/force

[2022-01-16 00:39] jchodera commented on #54
Here's the tweet!
https://twitter.com/openmm_toolkit/status/1482364197090390020

[2022-01-17 16:17] peastman commented on #56
That assumes a different computational model from how OpenMM works.  For example, it has no concept of computing forces for an arbitrary set of positions.  It can only compute them for the current positions that are set in the context.

Instead, it would be best to define functions that closely map to the operations in CustomIntegrator: get and set positions, get and set velocities, compute forces

[2022-01-18 12:42] bbharland opened #57 "Changing a module's state from context"
I am trying to run a metadynamics simulation where the collective variables are defined by a network.  The ForceModule has two tensors which contain the heights and centres of the Gaussian bias terms, and I haven't been able to discover a way to add to these from the simulation context.

I've contemplated a few wrong ways, such as recompiling and substituting the module in the system, implementing

[2022-01-18 13:53] raimis commented on #57
From the context you can pass atomic positions, simulation box vectors, and an arbitrary number of scalars (https://github.com/openmm/openmm-torch#defining-global-parameters-that-can-be-modified-within-the-context).

Probably the easiest approach is to update the bias within `ForceModule`.

[2022-01-18 14:04] raimis commented on #56
It would be possible to implement a support for such models:
[code]

[2022-01-18 14:04] raimis commented on #54
This is done!

[2022-01-18 14:04] #54 closed

[2022-01-18 14:05] bbharland commented on #57
Thanks!  Just so I understand, are you suggesting that it would be possible to tell the ForceModule to update itself from the context?  Something like this:
`def update(self, positions):
    # add new Gaussian centred on s(positions)
`

[2022-01-18 14:10] raimis commented on #55
When the plugin is build, the OpenMM version is pinned to `x.y` and cannot be installed with a different version.

At the moment, the plugin supports only the latest OpenMM version (7.7), because of the CUDA context issue (#47, #49). In the future, we can build the plugin for several latest OpenMM versions, like we build for several PyTorch versions (1.8, 1.9, 1.10).

[2022-01-18 14:13] raimis commented on #57
Yes, `forward` can call `update` periodically.

[2022-01-18 17:55] peastman commented on #56
That assumes you only need the forces at the start of the step.  Integrators often need the forces at multiple points throughout the step.  Here's an example of a velocity verlet integrator implemented with CustomIntegrator:

[code]

I imagine that the PyTorch implementation might look something like this:

[code]

I assumed that `openmmtorch.Integrator` is a subclass of `torch.nn.Module`, and tha

[2022-01-19 05:10] jchodera commented on #55
Ah! These would be different variants in the conda-forge package build matrix then. Thanks, that makes sense!

[2022-01-19 05:10] #55 closed

[2022-01-19 15:43] raimis commented on #56
Under the hood, PyTorch constructs a computational graph, which represents the operations and associated input-output dependencies.

Probably it is possible to wrap `openmm::Context` into `torch::CustomClass` and let PyTorch to act on it:
[code]

[2022-01-19 15:47] raimis commented on #56
@jchodera do you have some examples which go beyond the capability of `CustomIntegrator`. How much more flexibility we want?

[2022-01-20 13:40] #57 closed

[2022-01-21 09:56] WangXinyan940 opened #58 "The method “setOutputsForces” cannot be used in Python"
https://github.com/openmm/openmm-torch/blob/master/python/openmmtorch.i#L31

I guess that the method "setOutputsForces" has not been added to SWIG script, making the way of analytically calculate the forces cannot be really used via Python API. Please kindly take a look.

[2022-01-21 20:19] jchodera opened #59 "Add example of using NNPOps with openmm-torch?"
@peastman: Can we add an example script of how to use NNPOps directly within openmm-torch?

cc @dominicrufa @jeherr @raimis

[2022-01-21 21:38] raimis commented on #58
I'll fix this.

[2022-01-21 21:41] peastman commented on #58
Oops, sorry for the oversight!

[2022-01-21 22:15] peastman commented on #59
We need to finish making NNPOps conda installable first.

[2022-01-21 22:23] raimis commented on #58
@WangXinyan940 #60 should fix the issue! Thanks for reporting.

[2022-01-24 01:03] jchodera commented on #59
@peastman: There's [now a test conda package](https://github.com/openmm/NNPOps/issues/26#issuecomment-1017772953), but nobody is sure how to test it without an example of how to use it.

[2022-01-24 12:28] raimis commented on #59
I'll make an example.

[2022-01-25 13:07] raimis opened #61 "Setting velocities trigger an exception"
I tried to worn on #59 and got into an issue.

This is a simplified script:
[code]
which triggers an exception:
[code]

The issue happens when setting setting velocities:
[code]
If I comment that line, the script works.

[2022-01-25 13:25] raimis commented on #61
So, `OpenMM::Context::setVelocitiesToTemperature` calls `OpenMM::ContextImpl::calcForcesAndEnergy` and as result the PyTorch model.

The GIL is released only for `step`, `getState`, and `minimize` (https://github.com/openmm/openmm/pull/3061), but not for `setVelocitiesToTemperature`.

[2022-01-25 18:43] #61 closed

[2022-02-02 15:14] raimis commented on #59
@jchodera I have created a draft of a tutorial (#62). You can see it better here: https://github.com/raimis/openmm-torch/blob/example/tutorials/openmm-torch-nnpops.ipynb

Or just [![Open On Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/raimis/openmm-torch/blob/example/tutorials/openmm-torch-nnpops.ipynb)

[2022-02-06 20:37] ndonyapour opened #63 "undefined::reference error during building from source"
Hello,
I’m trying to build Opemm-torch from source, and I get an `undefined reference` error. This error happens when I install Pytroch from PyTorch channel via Conda. I believe this error relates to the compiling of OpenMM with the old C++ ABI. I tried installing OpenMM from source with the new  C++11 AB, but still, I got the same error.

Environment config:
- OpenMM7.7.0 from condaforge
- PyTorc

[2022-02-07 10:56] raimis commented on #63
OpenMM, like any other package on conda-forge, are built with the new C++11 ABI. The packages from the PyTorch channel are build with the old C++ ABI, so they aren't compatible.

From the error message, I can see that you are building with the old C++ ABI, so I won't link with OpenMM from conda-forge.

[2022-02-07 17:48] ndonyapour commented on #63
Thank you, this solved my problem. It seems that I've been compiling OpenMM with the new C++11 ABI and setting the `CMAKE_FLAGS+="  -D_GLIBCXX_USE_CXX11_ABI=0"` flag during compiling fixed the issue.
I just wanted to see if I installed all packages from conda-forge would work because all packages are compiled with the same version of ABI. However, I got the undefined reference linking error again.

[2022-02-07 22:53] ndonyapour commented on #63
I hit another error while importing OpenMM (installed from source using `-D_GLIBCXX_USE_CXX11_ABI=0`). Here is the error.

[code]

[2022-02-08 00:31] ndonyapour commented on #63
I hit another error while importing OpenMM (installed from source using `-D_GLIBCXX_USE_CXX11_ABI=0`). Here is the error, and I can't figure out how to fix it.

[code]

[2022-02-08 01:16] ndonyapour commented on #63
I fixed this issue by adding `-D_GLIBCXX_USE_CXX11_ABI=0` to `extra_compile_args` in the `setup.py` file.

[2022-02-08 02:08] ndonyapour commented on #63
I apologize for posting multiple messages here. Now, I get an error when I do`python -c "import openmmtorch"`. I think this one is also related to the C++11 ABI as well.

[code]

[2022-02-08 02:46] ndonyapour commented on #63
I was able to fix this issue by compiling the plugin code with `-D_GLIBCXX_USE_CXX11_ABI=0` and adding this flag to its `setup.py` file. I was wondering if this is the right way to resolve this issue?

[2022-02-08 09:31] raimis commented on #63
Provided you build all the components with the old C++ ABI, it should work.

[2022-02-08 14:58] ndonyapour commented on #63
Ok, thanks! Any suggestions about this one?

[2022-02-08 19:07] raimis commented on #63
Looks your are linking OpenMM and PyTorch with the new C++ ABI; and the C++ runtime (`libstdc++.so`), which doesn't support the new C++ ABI.

[2022-02-08 19:13] raimis opened #64 "Improve the installation instruction from source"
The installation instructions from source (https://github.com/openmm/openmm-torch#building-from-source) should be improved. We already have two issue (#40, #63).

It would be useful to provide a Conda file for the build environment, like we have for NNPOps (https://github.com/openmm/NNPOps#from-the-source).

[2022-02-10 00:49] ndonyapour commented on #63
I have updated GNU from 8.5 to 11.2 and Cudatoolkit from 11.3 to 11.6 and still getting the linker error.

[2022-02-10 08:00] ndonyapour commented on #63
I found two methods for fixing the linker errors coming from the C++11 ABI:

1- Install PyTorch from source which sets  `-D_GLIBCXX_USE_CXX11_ABI=1` and then get other packages from Conda-forge, finally you can build openmm-torch

2- Create a conda virtual environment from the yml file I uploaded here and follow the commands below for building and installing openmm-torch

[code]
[openmm-torch_env.

[2022-02-11 16:33] raimis opened #65 "Serialization of `TorchForce` is not self-contained"
When serializing `TorchForce`, the file name of the PyTorch model is save rather its content:
[code]
[code]

So, it is a user responsibility to ensure that the right model file is in the right place during desalinization.

Ideally, the serialized object should be self-contained. We should save the file content, not it's name. Or, at least, we should store a hash of the file content and verify it d

[2022-02-11 16:43] raimis opened #66 "Simplify the creation of `TorchForce`"
In general, the creation of `TorchForce` goes like this:
[code]

We could simplify the last two steps by allowing to pass an instance of `Module` directly to `TorchForce`:
[code]

For this, we need to solve #65.

[2022-02-11 16:57] peastman commented on #66
Depending on the details of your model, you might need to use `torch.jit.trace()` instead of `torch.jit.script()`, which also requires providing example inputs.

[2022-02-11 17:08] raimis commented on #59
The tutorials is done (#62). @jchodera @peastman could you check it?

[2022-02-11 17:10] raimis commented on #66
Yes, both options should be available:
[code]

In practice, I have never needed `torch.jit.trace()`.

[2022-02-11 19:29] #63 closed

[2022-02-17 18:11] peastman opened #67 "Problems on Macs"
I recently got an M1 Mac.  In trying to get this plugin working on it, I encountered some very rough edges.  We should figure out how to resolve them, or else they'll cause a lot of problems for users.

The first roadblock I ran into was a linker error trying to build the plugin: it couldn't find the library libopenblas.dylib (which is required by PyTorch), even though I have the libopenblas conda

[2022-02-24 19:07] dominicrufa opened #69 "conda-installed `openmm-torch` is not compatible with nightly `omnia-dev` `openmm` conda installation"
[code]
i installed `openmm-torch` from `conda-forge`, but it downgrades the nightly `openmm` installation. is there a workaround? or can the specs of the `conda-forge` `openmm-torch` be updated?

[2022-03-01 13:49] raimis commented on #59
@jchodera could tweet about the new tutorial: https://github.com/openmm/openmm-torch/blob/master/tutorials/openmm-torch-nnpops.ipynb Also, this should be considered beta, but we need people trying it and find the remaining issues.

[2022-03-01 13:51] raimis commented on #59
I keep this issue open as a reminder to update the tutorial, when following issue are fixed:

- [ ]  An official NNPOps package is still not available: https://github.com/openmm/NNPOps/issues/26
- [ ] `Context.setVelocitiesToTemperature` is broken (https://github.com/openmm/openmm-torch/issues/61) and we need an OpenMM release with https://github.com/openmm/openmm/pull/3424.

[2022-03-01 14:02] raimis commented on #69
The pins of `openmm-torch` are exactly as they should for `conda-forge`. There is no a general way to make compatible with other arbitrary channels.

Short-term solution: you can try to circumvent the pins with `conda install --force-reinstall --no-deps`, but mostly likely it would results into broken environment due the binary incompatibilities. The more reliable way is just to build from source.

[2022-03-01 14:05] raimis commented on #35
We just made a tutorial how to speed up TorchANI with NNPOps: https://github.com/openmm/openmm-torch/blob/master/tutorials/openmm-torch-nnpops.ipynb

[2022-03-01 14:07] raimis commented on #45
The linking issues has been resolved as demonstrated by a working tutorial: https://github.com/openmm/openmm-torch/blob/master/tutorials/openmm-torch-nnpops.ipynb

[2022-03-01 14:07] #45 closed

[2022-03-01 15:46] raimis opened #71 "OpenMM-Torch 0.6"
We have made the following import fixes:
- #60
- #70

It is time to release OpenMM-Torch 0.6. @peastman do you agree?

[2022-03-01 20:19] peastman commented on #71
That would be fine with me.

[2022-03-01 20:34] raimis commented on #71
https://github.com/openmm/openmm-torch/releases/tag/v0.6

[2022-03-01 20:43] raimis commented on #71
https://github.com/conda-forge/openmm-torch-feedstock/pull/15

[2022-03-03 21:26] jchodera commented on #71
Done!

https://twitter.com/openmm_toolkit/status/1499496300697436160

I'll tweet about the tutorial notebook with a colab link separately tomorrow morning.

Note that I updated the release notes with a bit more information---please fix anything that looks incorrect to you if needed:
https://github.com/openmm/openmm-torch/releases/tag/v0.6

[2022-03-04 10:22] raimis commented on #71
Thanks @jchodera.

[2022-03-04 10:22] #71 closed

[2022-03-07 21:20] peastman commented on #67
The library path issue is fixed by #72.  I understand the cause of the libopenblas naming problem better now, but it isn't clear what the right solution is.  See https://github.com/conda-forge/openblas-feedstock/issues/134.

[2022-05-10 16:01] wiederm opened #74 "can't install from source following the instructions"
Hi everyone!

I am trying to compile `openmm-torch` to use with the `omnia-dev ` openMM installation, but I keep running into issues.
I think I experience exactly the same issue as described [here](https://github.com/openmm/openmm-torch/issues/63), but neither of the two solutions outlined [here](https://github.com/openmm/openmm-torch/issues/63#issuecomment-1034602470) resolve the issue.

The erro

[2022-05-10 22:14] peastman commented on #74
All the symbols it's not finding involving strings, so that definitely sounds like an issue with the C++11 ABI.  I just downloaded one of the most recent dev builds and confirmed it was built correctly.  For example, it contains the symbol `_ZN6OpenMM17SerializationNode15createChildNodeERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE` which demangles to `OpenMM::SerializationNode::createChi

[2022-05-12 18:42] wiederm commented on #74
This is super strange.
I have tried with `-D_GLIBCXX_USE_CXX11_ABI`, `-D_GLIBCXX_USE_CXX11_ABI=0` and `-D_GLIBCXX_USE_CXX11_ABI=1` as values for `CMAKE_CXX_FLAGS_RELEASE` and set the build type to `Release`. But somehow this does not change anything and the error is the same.
I have tried this also with a new conda environment, new `openmm-torch`  download to make sure that there is no cache file

[2022-05-13 16:32] raimis commented on #74
@wiederm which GCC version are you using? Do you install it with Conda?

[2022-05-13 16:38] wiederm commented on #74
I am able to build the package now!
My previous build environment was on a CentOs7 machine and I followed this [answer](https://stackoverflow.com/questions/55345373/how-to-install-gcc-g-8-on-centos) to activate the Developer Toolset and GCC 8. But I guess somehow this was not enough.
I just updated to CentOs8 and suddenly I am able to build the package without any issue (also using GCC 8.5)! Thank

[2022-05-13 16:44] peastman commented on #74
Very strange!  I'm glad you've got it working now.  I'll go ahead and close this.  Feel free to reopen it if the problem reappears.

[2022-05-13 16:44] #74 closed

[2022-05-13 16:51] raimis commented on #74
There is nothing strage here: CentOS 7 compilers are hardcoded to build with the old  C++ ABI regardless of `_GLIBCXX_USE_CXX11_ABI`. CentOS 8 changed to the new C++ ABI.

[2022-05-18 12:29] wiederm opened #75 "`make test` fails for multiple tests"
I have build `openmm-torch` from source and I can run the Python example shown in `README`.
But since I am still having trouble [here](https://github.com/openmm/openmm-ml/issues/27#issuecomment-1129709352) I wanted to make sure that `openmm-torch` behaves as expected and I tried to run `make test`.
[code]
a closer look at the log file shows the same error (until frame 9) for all 7 of the 8 tests:

[2022-05-18 14:38] wiederm commented on #75
No, I don't! It's running on a CentOS8 server.

On Wed, May 18, 2022, 16:33 Peter Eastman ***@***.***> wrote:

[2022-05-19 08:50] wiederm commented on #75
after reinstalling with the new openMM dev build and rebuilding all tests pass now!
I have no idea what caused the mobile platform error, but it seems to have vanished. Thanks for the help!

[2022-05-19 08:50] #75 closed

[2022-05-19 14:21] peastman commented on #75
The world is a mysterious place!

[2022-05-19 16:31] rvkrishnan30 opened #76 "Issue with OpenMM-torch installation with NNPOps and TorchANI"
Hi,

Following the [example ](https://github.com/openmm/openmm-torch/blob/master/tutorials/openmm-torch-nnpops.ipynb), I installed the required packages openmm-torch, TorchAni and NNPOps with the command

`conda create -n tmp-test -q -c conda-forge openmm-torch nnpops torchani openmmtools  cudatoolkit=11.3`

Importing torchani throws "`undefined symbol`" ImportError:

Traceback (most recent call l

[2022-05-20 08:13] wiederm commented on #75
Indeed :-)
Just for the record: tests pass with `Pytorch` 1.10 but after upgrading to 1.11 tests fail with the `legacy import` issue.

[2022-06-01 09:56] raimis commented on #76
@rvkrishnan30 OpenMM-Torch 0.7 has been released and the packages are available on `conda-forge`. Could you confirm that it solves the issue?

[2022-06-02 08:31] rvkrishnan30 commented on #76
@raimis, it all looks good now without any import issues. Thank you very much

[2022-06-02 09:06] #76 closed

[2022-07-12 17:18] jchodera commented on #59
This is waiting for the beta releases.

[2022-07-20 18:17] jchodera commented on #65
The [TorchScript format](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/docs/serialization.md) is actually a ZIP file, so it is a binary format. We can simply `base64` encode/decode this file. It's [simple to implement in C++11](https://gist.github.com/williamdes/308b95ac9ef1ee89ae0143529c361d37), and there is a [proposed `std::string base64_encode/decode` addition](https://renenyff

[2022-09-26 15:58] davkovacs opened #82 "conda install help wanted"
I am having trouble conda installing the package. Coudl someone help me understand what is the problem.

I need pytorch 1.12 and cudatoolkit 11.3 for my other package to work, that is the only limitation. Is it causing the problem?

![image](https://user-images.githubusercontent.com/25356984/192324409-34bcf70b-d62c-45b5-9af0-78c0a7412733.png)

[2022-09-26 17:37] davkovacs commented on #82
Thank you, that helped me install it, but I am still unable to use it because it seems to require pytorch 1.11, instead of the current stable release 1.12. I absolutely need 1.12 though. Is there any way to relax this requirement? I think pytorch 1.12 should be backward compatible.

when I am trying to install pytorch 1.12 after installing this package I end up with the following:
![image](https:/

[2022-09-26 17:52] peastman commented on #82
That's part of what we're trying to figure out. :(  We don't specifically require any PyTorch version anywhere, but somehow conda-forge is imposing version limitations, and we haven't been able to figure out how or why.

For the moment, your best bet is probably to install from source.  You could also try installing with mamba instead of conda.  It tends to be less buggy, and it gives better error

[2022-09-26 18:57] davkovacs commented on #82
I see. Building from source is a little complicated, using cudatoolkit on the cluster is just really easy, but I think you need a proper cuda installation to build these packages from source.

I have the same problem with NNPOps. If these two packages worked with PyTorch 1.12, than we could use MACE in OpenMM very quickly and easily. I think everything else is ready for it, I can jit compile the M

[2022-09-26 19:17] peastman commented on #82
@raimis any insight on getting NNPOps working with PyTorch 1.12?

I totally agree with you about the importance of making installs easy.  It's just a struggle figuring out how to get it to work.  We're reluctantly coming to the conclusion that conda-forge may not be viable anymore as our primary release mechanism and we should switch to PyPI instead.  But that's a longer term project.

[2022-09-27 09:20] raimis commented on #82
Yes, I'll try to look.

[2022-09-27 09:30] raimis commented on #82
Conda-forge global pinnings:
https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/00e031cea19280c0aadd1e3cd22541c2fedfc98d/recipe/conda_build_config.yaml#L625

[2022-09-27 09:37] raimis commented on #82
Trying to update CI for PyTorch 1.12: https://github.com/openmm/openmm-torch/pull/83

[2022-09-27 10:57] davkovacs commented on #82
Thanks a lot for looking into it!

[2022-09-27 13:04] raimis commented on #82
Rebuilding for Python 3.10: https://github.com/conda-forge/openmm-torch-feedstock/pull/26

[2022-09-27 16:04] davkovacs commented on #82
I thought PyTorch releases are backward compatible. How could something work with 1.11 and not with 1.12?

[2022-09-27 16:16] peastman commented on #82
I'm still trying to figure that out, but if I upgrade the environment to 1.12, it segfaults when I try to import the module.

[2022-10-16 02:06] moradza opened #84 "Second step fails"
I am following steps torchANI tutorial steps. The code fails in the second call to simulation function. Any source of error. I couldn't install mamba in my workstation. And used conda with pytorch=1.12, pytorch=1.11 throw symbol error.

[code]

[code]

[2022-10-21 10:23] raimis commented on #84
Could you have the list of your conda environment?

[2022-10-21 21:10] moradza commented on #84
Here you go:

[code]

[2022-11-03 14:40] JustinAiras opened #87 "Segmentation fault upon creating the Context when adding both RMSD biased force and Torch Force"
I've been using OpenMM 7.7.0 and OpenMM-Torch 0.8 successfully to run a PyTorch model, however, when I add an RMSD biasing force to the system as well as the TorchForce, I get a segmentation fault upon creating the Context. This RMSD biasing force has also worked independently without issue. My system setup is as follows:

[code]

As stated above, building the Context with Simulation results in a

[2022-11-03 17:03] raimis commented on #87
Could you share `struct.pdb` and a script to generate `model.pt`. So, it is possible to reproduce the issue.

[2022-11-03 17:13] raimis commented on #87
Also, could you add the imports to the script? So it is possible to run it.

[2022-11-03 18:12] JustinAiras commented on #87
I've edited my original post to include the imports and the files `struct.pdb` and `model.pt`.

[2022-11-07 18:40] FranklinHu1 opened #88 "Segmentation fault when creating simulation context with simple TorchForce force"
Hello,

I am running into a segmentation fault when adding a simple TorchForce force to the alanine dipeptide test system from openmmtools. This is similar to issue #87, but I am trying and failing to do something far simpler.

For my environment, I am using the openmm-8-beta-linux environment generated from the following command:

`conda env create mmh/openmm-8-beta-linux`

The only modification

[2022-11-07 20:36] peastman commented on #87
Your script runs fine for me using the latest code for OpenMM and for this plugin.  I notice your model uses the `torch_cluster` package.  How did you install it?  Possibly it was compiled in a way that's incompatible with this plugin.  Can you post the output of `conda list`?

Try running your script inside `gdb`.  Let it run until it hits the segfault, then type `bt` to get a stack trace for whe

[2022-11-07 21:30] peastman commented on #88
Your script runs fine for me.  Can you try running it inside `gdb`?

1. Type `gdb python`.
2. At the gdb prompt, type `run test.py` (or whatever the name of your script is).
3. Wait for it to segfault, then type `bt` to get a stack trace.
4. Post it here.

[2022-11-07 21:39] FranklinHu1 commented on #88
I ran the code using the above instructions. This is what I got when I typed `bt` to get the stack trace:
[code]

[2022-11-07 22:24] JustinAiras commented on #87
I installed `torch_cluster` into a clean conda environment with OpenMM 8.0 beta and OpenMM-Torch 1.0 beta as follows:
[code]
The following text file contains the output from `conda list`:
[conda_list_omm8b_env.txt](https://github.com/openmm/openmm-torch/files/9955949/conda_list_omm8b_env.txt)

and the following text file contains the backtrace from running my script in `gdb`:
[gdb_bt_omm8b_env.txt

[2022-11-07 22:32] peastman commented on #87
That build is likely incompatible with packages from conda-forge.  Try installing it like this instead.

[code]

[2022-11-09 10:49] raimis commented on #88
I have created environment:
[code]

[code]
<details>

[code]
</details>

The script above runs without a problem:
[code]

The main different between @FranklinHu1 environment is `pytorch` version. I got 1.12.1, while @FranklinHu1 1.11.0.

I suspect, this may be related to https://github.com/conda-forge/openmm-torch-feedstock/issues/20. @FranklinHu1 what version of `conda` are you using? Mine is 22.

[2022-11-09 10:54] raimis commented on #82
We have beta releases for OpenMM and OpenMM-Torch.

You can create a working environment like this:
[code]

[2022-11-09 10:57] raimis commented on #69
We maintain compatibility with the `conda-forge` channel only.

[2022-11-09 10:57] #69 closed

[2022-11-09 11:06] raimis commented on #87
I have created the environment:
[code]

The scirt works with problem.

@JustinAiras try to create a new environment as indicated with the latest (22.9.0) `conda`.

[2022-11-09 18:22] sef43 commented on #88
I have been able to recreate this error using  `conda create env `and I do not get the error when using `mamba create env`.

Method to get error (conda version 22.9.0):
[code]
[code]

Method to run without error:
[code]
[code]

This is the side by side diff of mamba list and conda list
[code]
Note that the working mamba version does use `pytorch 1.11.0`

[2022-11-09 18:56] JustinAiras commented on #87
I've run the exact set of commands you've provided using `conda` 22.9.0, but after `from torch_cluster import radius_graph` I get the following error message:

[code]

[2022-11-10 15:37] sef43 commented on #88
This is issue https://github.com/conda-forge/openmm-torch-feedstock/issues/20

My conda installs `NNpops`, `opemm-torch`, and `torchani` packages that depend on` pytorch=1.12` while installing `pytorch=1.11`.

e.g. conda installs:
[code]

Mamba installs the versions that are built for `pytorch=1.11 ` while installing `pytorch=1.11`

e.g.:
[code]

[2022-11-10 15:47] raimis commented on #88
@FranklinHu1 could you install with `mamba`?

[2022-11-10 15:51] raimis commented on #84
@moradza this might be a `conda` issue (https://github.com/openmm/openmm-torch/issues/88#issuecomment-1310477870). Could you try to install with `mamba`?

[2022-11-10 17:17] sef43 commented on #88
I have discovered the reason for this. I was using `conda` on a linux cluster head node which does not have a proper CUDA installation (CUDA is loaded when you run jobs on compute nodes)

The versions of `pytorch-1.12.1-cuda112py310*` from `conda-forge` all have:
[code]
So `conda` will not install it because the virtual dependency is not satisfied.
this can be overridden by setting the environment

[2022-11-10 18:02] FranklinHu1 commented on #88
Yes, I have been able to run my debugging script by creating the openmm beta environment using mamba instead of conda as @sef43 suggested. I am now having problems loading my more advanced PyTorch models due to their dependency on packages like torch cluster and torch geometric.

For just torch cluster, I tried to install using conda using the command `conda install -c conda-forge pytorch_cluster`

[2022-11-14 16:51] JustinAiras commented on #87
Thank you, installing with mamba solved my most immediate issue, and I now can run MD with a TorchForce and RMSD-biasing force without encountering a segmentation fault.

I installed mamba into the base environment of a clean miniconda install, and created a new environment as follows:

`mamba create -n torch_omm8b openmm openmm-torch pytorch_cluster -c "conda-forge/label/openmm_rc" -c "conda-forg

[2022-11-15 10:00] sef43 commented on #87
This sounds like an issue with with CUDA toolkit version, see this issue from OpenMM: [3585](https://github.com/openmm/openmm/issues/3585)
You will need to find out what drivers and CUDA version are installed on the cluster you are using, probably by running `nvidia-smi` on a compute node.
And then tell conda to install a compatible cudatoolkit.
e.g. `mamba install -c conda-forge openmm cudatoolki

[2022-11-15 20:54] moradza commented on #84
@raimis I updated conda and tried installation with new environment, but the same error persists.
I am trying mamba installation, but my conda fails to install mamba package. I need some time to figure out what is wrong with it.

[2022-11-21 11:08] kexul commented on #74
Dear developers, is it possible to build it under centos 7?

[2022-11-23 21:48] peastman commented on #88
I still can't reproduce this, even using conda and PyTorch 1.12.1.  Here's the sequence of commands I typed:

[code]

`test.py` contains the script in the first post above.  It runs without problem.

<details>
  <summary>environment</summary>

[code]
</details>

[2022-11-24 10:49] sef43 commented on #88
@peastman The error seems occur when you use conda in a linux environment which does not have CUDA available. Conda can detect if you have CUDA available, if you look at the output of
[code]
and look at the `virtual packages` line, i.e. for me on a linux node with CUDA:
[code]

If i run your commands in this linux environment it works.

However, when on a Linux node which does not have CUDA availa

[2022-11-28 19:51] peastman commented on #88
Thanks, I can reproduce it with that sequence of commands.

I compared environments created with mamba (which works) and conda (which fails).  They install identical builds of pytorch, so that isn't the problem.  But they install different builds of openmm-torch.  Conda installs `cuda112py310h02d4f52_1` and mamba installs `cuda112py310hcc28b43_1`.  Looking through the [list of files](https://anaco

[2022-11-29 21:17] peastman commented on #88
@mikemhenry do you have any idea what might be causing the behavior described above (https://github.com/openmm/openmm-torch/issues/88#issuecomment-1329670122)?  Is this a bug in conda, or is there a problem in how we specify the constraints in the recipe?